.containerCompra {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  background: white;
}

.caixaProduto {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px 50px;
  border-bottom: 1px solid #000000;
  position: relative;
  background: white;
}

.imagemProduto {
  width: 180px;
  height: auto;
}

.infoProduto {
  margin-left: 40px;
  flex: 1;
}

.tituloProduto {
  font-size: 32px;
  font-weight: 600;
  color: #000;
}

.textoProduto {
  width: 55%;
  margin-top: 10px;
  font-size: 15px;
  line-height: 22px;
  color: #000;
}

.boxIcones {
  display: flex;
  gap: 12px;
  margin-top: 15px;
  font-size: 20px;
  color: #000;
}

.boxCompra {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-top: 20px;
}

.precoProduto {
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.botaoComprar {
  border: black;
  background-color: #5b5264;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  border: #000;
}

.botaoExcluir {
  position: absolute;
  right: 40px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #000;
}

.paginacaoCompra {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 35px 0;
  font-size: 18px;
  color: #000;
}

.footerCompra {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 60px 0;
  border-top: 1px solid #ccc;
  margin-top: 40px;
  background: white;
}

.logoFooter {
  width: 120px;
}

.colunaFooter p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #000;
}
/* .navTopo {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #d8d8d8;
} */
 .Topo{
  background-color: white;
  /* width: 100%; */
  padding: 20px;
  display: flex;
 }

 .BarrinhaPesquisas{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
 }
 ::placeholder{
  color: gray;
 }

 .campoDaPesquisa{
  border-radius: 10px;
  border: #27232b;
  background-color: #d3d3d3;
  height: 30px;
  width: 600px;

 }


.navLogo {
  font-size: 26px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 35px;
}

.navLinks a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  transition: 0.2s;
}

.navLinks a:hover {
  opacity: 0.6;
}

.cardCompra{
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.itensCard{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* padding: 10px; */
}

.descricaoProduto {
  white-space: pre-line;       
  padding: 12px 15px;         
  border-radius: 10px;         
  width: 550px;                
  min-height: 80px;           
  color: #000;                 
  line-height: 1.4;
  margin: 10px 0;
  overflow-wrap: break-word;   
  border: white;
}

.colunaFooter .footerCompra{
  color: #000 !important;
}
