.containerHome {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  color: #fff;
  background-color: #3b1c28;
}

.barrinhaTopo{
  /* width: 100%;
  background-color: #4c2232;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly; */
  width: 100%;
  background-color: #4c2232;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 25px;
  
}

.campoPesquisa{
  /* background-color: #3b1c28;
  border: #3b1c28;
  border-radius: 5px;
  width: 900px;
  height: 30px; */
  background-color: #3b1c28;
  border: none;
  border-radius: 40px;     
  width: 700px;
  height: 32px;
  padding: 0 15px;
  color: white;
  outline: none;
}
::placeholder{
  color: #241118;
  padding: 10px;
}

.ReferenciaVinhos{
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.OpVinhos{
  height: 400px;
  

}

.blocoTopo {
  display: flex;
  justify-content: space-between;
  padding: 70px 6%;
  align-items: center;
  background-color: #4c2232;
}

.textoTopo h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.textoTopo span {
  font-style: italic;
}

.textoTopo p {
  width: 80%;
  margin-top: 20px;
  line-height: 1.5;
}

.btn {
  margin-top: 25px;
  background: white;
  color: #4c2232;
  padding: 10px 22px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.imagemTopo img {
  width: 360px;
  border-radius: 8px;
}

.logo {
  text-align: center;
  margin: 40px 0;
  background-color: white;
}

.logoImg {
  width: 90px;
}

.adega {
  width: 100%;
  text-align: center;
}

.adegaImg {
  width: 90%;
  border-radius: 10px;
  position: relative;
  top: 100px;
}

.containerSobre {
  /* height: 500px; */
  text-align: center;
  padding: 60px 6%;
  background-color: #4c2232;
}

.containerSobre h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.colunaSobre {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
}

.colunaSobre p {
  width: 33%;
  line-height: 1.6;
}
/* 
@media (max-width: 900px) {
  .blocoTopo {
    flex-direction: column;
    text-align: center;
  }

  .textoTopo p {
    width: 100%;
  }

  .imagemTopo img {
    margin-top: 30px;
    width: 80%;
  }

  .colunaSobre {
    flex-direction: column;
  }

  .colunaSobre p {
    width: 100%;
  }
} */

.containerExplore {
  display: flex;
  align-items: center;
  width: 100%;
  /* background: #ffffff; */
  background-color: #3e1e2a;
  padding: 40px 0;
}

.imagemExplore img {
  width: 100%;
  border-radius: 10px 0 0 10px;
}

.explore {
  width: 45%;
  background: #e7e7e7;
  padding: 40px;
  border-radius: 0 50px 50px 0;
  color: #333;
}

.logoExplore{
  width: 70px;
  margin-bottom: 15px;
}

.explore h2 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.explore p {
  line-height: 1.5;
  width: 80%;
}


.barraContatos {
  background: #4c2232;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
  align-items: center;
  font-size: 1.2rem;
}

.iconesSociais {
  padding: 10px;
  font-size: 26px;
  margin-left: 15px;
  cursor: pointer;
  gap: 10px;
}
i{
  padding: 5px;

}

.footer {
  background: #ffd6e0;
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  color: #3b1c28;
  text-align: left;
}

.logoFooter img {
  width: 90px;
}

.colunaFooter p {
  /* color: #80465c; */
  margin: 6px 0;
  font-size: 1rem;
  color: #ac5375 !important;
}

.navTopo {
  /* width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #d8d8d8; */

  /* width: 100%;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  background-color: transparent; */
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  margin-left: auto;

  /* width: auto; */
}

.navLogo {
  font-size: 26px;
  font-weight: bold;
  color: black;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 35px;
  margin: 0;
  padding: 0;
  /* list-style: none;
  display: flex;
  gap: 35px; */
}

.navLinks a {
  text-decoration: none;
  /* color: black; */
  color: white;
  font-size: 18px;
  transition: 0.2s;
}

.navLinks a:hover {
  opacity: 0.6;
}
.galeriaVinhos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4c2232;
  padding: 20px;
}

.gridVinhos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
}

.gridVinhos img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gridVinhos img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

.navTopo {
  background-color: #4c2232 !important;
}
.navLogo {
  color: white !important;
}
.navLinks a {
  color: #331420 !important;
}
