.containerVinhos {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.bannerVinhos img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.tituloVinhos {
  text-align: center;
  background-color: #4c2232;
  color: white;
}

.logoTitulo {
  height: 150px;
  width: 100px;
  opacity: 0.8;
}

.tituloVinhos h2 {
  font-size: 32px;
  font-weight: 600;
  margin-top: 10px;
}

.cardsVinhos {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 20px;
  flex-wrap: wrap;
  background-color: #4c2232;
}

.cardVinho {
  width: 230px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  transition: 0.2s ease-in-out;
}

.cardVinho:hover {
  transform: translateY(-5px);
}

.cardVinho img {
  width: 90px;
  margin-bottom: 12px;
}

.precoVinho {
  display: inline-block;
  padding: 5px 15px;
  background: #4a2a2a;
  color: #fff;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 10px;
}

.descricaoVinho {
  font-size: 14px;
  color: #777;
  margin-top: 10px;
  line-height: 1.4;
}

.secaoRefinados {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  background: #e5e5e5;
  gap: 40px;
  flex-wrap: wrap;
}

.secaoRefinados img {
  width: 160px;
}

.textoRefinados {
  max-width: 420px;
}

.textoRefinados h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #444;
}

.textoRefinados p {
  font-size: 15px;
  line-height: 1.5;
  color: #555;
}

.vinhosFooter {
  background: #fff;
  padding: 40px 10px;
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  text-align: center;
}

.logoFooter {
  width: 70px;
  opacity: 0.8;
}

.colunaFooter p {
  font-size: 14px;
  margin: 5px 0;
  color: #444;
}

.colunaFooter p:hover {
  color: #6b3f3f;
  cursor: pointer;
}
.navTopo {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #d8d8d8;
}

.navLogo {
  font-size: 26px;
  font-weight: bold;
  color: black;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 35px;
}

.navLinks a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  transition: 0.2s;
}

.navLinks a:hover {
  opacity: 0.6;
}
