.container-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.lado-esquerdo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem-taca {
  height: 70vh;
  object-fit: contain;
}


.lado-direito {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-login {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

.card-login {
  background: #0d0d0d;
  padding: 35px;
  width: 350px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.card-login label {
  font-size: 12px;
  opacity: 0.7;
}


.card-login input {
  background: #0b0b0b;
  border: none;
  padding: 12px;
  border-radius: 5px;
  color: #fff;
  outline: none;
  font-size: 14px;
}

.botao-entrar {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: #4a1f28;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.botao-entrar:hover {
  background: #5d2632;
}


.link-recuperar-senha {
  margin-top: 10px;
  font-size: 12px;
  color: #b1b1b1;
  text-decoration: none;
}

.link-recuperar-senha:hover {
  text-decoration: underline;
}
